/************ Global variables ************/
:root {
  --gradient: linear-gradient(
    45deg,
    rgb(147, 129, 255),
    rgb(184, 184, 255),
    rgb(248, 247, 255),
    rgb(255, 238, 221),
    rgb(255, 216, 190)
  );
  --white: rgb(255, 255, 255);
}

/************ Custom Font ************/
@font-face {
  font-family: OpenSans;
  src: url('./assets/font/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url('./assets/font/OpenSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url('./assets/font/OpenSans-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url('./assets/font/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 17, 37) !important;
  color: rgb(255, 255, 255) !important;
  font-family: 'OpenSans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 1.125rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

@media screen and (max-width: 767px) {
  nav.navbar {
    background: rgb(3, 2, 16);
    opacity: 0.9;
  }
}

nav.navbar.scrolled {
  padding: 0;
  background-color: rgb(3, 2, 16);
}
nav.navbar a.navbar-brand {
  width: 10%;
}
nav.navbar a.navbar-brand img {
  min-width: 5.625rem;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 0.05rem;
  padding: 0 1.563rem;
  font-size: 1.125rem;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 1.5rem;
  height: 1.063rem;
  background-image: none;
  position: relative;
  border-bottom: 0.125rem solid rgb(255, 255, 255);
  transition: all 300ms linear;
  top: -0.125rem;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 0.125rem solid rgb(255, 255, 255);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 1.5rem;
  position: absolute;
  height: 0.125rem;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 0.5rem;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
  height: 0.125rem;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
  transform: translateY(0.5rem) rotate(-45deg);
  background-color: rgb(255, 255, 255);
  height: 0.125rem;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 16.25rem 0 6.25rem 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0.625rem;
  background: linear-gradient(
    90.21deg,
    rgb(249, 230, 184, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 0.063rem solid rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.banner h1 {
  font-size: 4.063rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
  display: block;
  min-height: 14.625rem;
}
.banner p {
  color: rgb(184, 184, 184);
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  width: 96%;
  font-style: italic;
}
.banner a {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 3.75rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.banner a svg {
  font-size: 1.563rem;
  margin-left: 0.625rem;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner a:hover span {
  color: rgb(249, 230, 184);
}
.banner a:hover svg {
  margin-left: 1.563rem;
  color: rgb(249, 230, 184);
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.categories > .running-text {
  border-right: 0.08em solid rgb(102, 102, 102);
}

/************ Skills Css ************/
.skills {
  padding: 0 0 3.125rem 0;
  position: relative;
}
.skills-wrapper {
  background: rgb(3, 2, 16);
  border-radius: 4rem;
  text-align: center;
  padding: 3.75rem 3.125rem;
  margin-top: -3.75rem;
}
.skills h2 {
  font-size: 2.813rem;
  font-weight: 700;
}
.skills p {
  color: rgb(184, 184, 184);
  font-size: 1.125rem;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
  margin: 0.875rem 0 4.688rem 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 0.938rem auto;
}
.skill-slider .item h5 {
  padding: 0 0.625rem 0;
}
.skill-slider button {
  color: rgb(249, 230, 184);
}
.skill-slider button:hover {
  background-color: rgb(11, 16, 40);
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ LifeSpanner Css ************/
.life-spanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.125rem 0;
  backdrop-filter: blur(230px); /* Add the blurred effect */
}

.life-spanner h2 {
  padding-bottom: 2rem;
  text-align: center;
}

.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

.timeline::-webkit-scrollbar {
  width: 8px;
}

.timeline::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.timeline::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.moment {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.moment-line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.moment-content {
  margin-top: 1.25rem;
  text-align: center;
}

.moment-date {
  font-size: 0.875rem;
  font-weight: bold;
}

.moment-title {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/************ Footer Css ************/
.footer {
  padding: 3.125rem 0;
}

.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 0.875rem;
  color: rgb(184, 184, 184);
  letter-spacing: 0.031rem;
  margin-top: 1.25rem;
}
